/*
* @Author: pattyzzh
* @Date:   2018-05-16 18:48:00
*/

body,div,ul,li,a,h4,span,p,img{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

a{
	text-decoration: none;
  
}
/*头部*/
.top{
	height: 55px;
	width: 1226px;
	margin: 22px auto; 
}
.logo{
	float: left;
}
.top .nav{
	float: left;
}
.top .nav ul{
	height: 55px;
	font-size:18px;
}
.top .nav ul li{
	height: 55px;
	float: left;
}

.top .nav ul li a{
	display: inline-block;
	line-height: 55px;
	padding: 0 13px;
	color: #333;
	font-weight: bold;
}

/*主体*/
.box{
	height: 700px;
	background-color: #f5f5f5;
	margin-top: 22px;
}
.box .top{
	width: 1226px;
	height: 56px;
	margin: 0 auto;
}
.box h4{
	width: 100px;
	height: 56px;
	line-height: 56px;
	float: left;
}
.box .top a{
	display: inline-block;
	height: 56px;
	line-height: 56px;
	float: right;
	color: #000;
}
.box .con{
	width: 1226px;
	height: 628px;
	margin: 0 auto;
}
.box .con .left{
	float: left;
}
.box .con .right{
	height: 628px;
	float: left;
}
.box .con .right  .rigth-wrap{
	width: 992px;
	height: 615px;
	background-color: #ffffff;

}

.right-top{
  display: block;
} 

.right-top .right-top-wrap{
	display: inline-block;
  margin-left:343px;
  padding:70px 0px 20px; 
}



.right-con{
	position: relative;
}

.right-con .form-left{
	position: absolute;
	left:100px;
	top:40px;
}

.right-con .form-right{
	position: absolute;
	right:150px;
	top:40px;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-collapse: collapse;
    padding:10px 0px 5px 0px;

}

table.gridtable tr{
	 height:45px;
	 line-height: 45px;
	 border-bottom:2px solid rgba(233,233,233,0.5);
}

table.gridtable th {
/*    border-width: 1px;*/
    padding: 8px;
    text-align: left;
/*    border-style: solid;
    border-color: #666666;
    background-color: #dedede;*/
}
table.gridtable td {
    /*border-width: 1px;*/
    padding: 8px;
/*    border-style: solid;
    border-color: #666666;*/
    background-color: #ffffff;
}


.right-con input{
	padding:2px 2px;
	margin-right: 10px;
}


.btn-md{
  background-color:#f5f5f5;
  padding:6px 8px;
  text-align: center;
  font-size:16px;
  font-family: "Microsoft Yahei",微软雅黑;
  color:#333;
  border:2px solid rgba(210,210,210,0.5);
  border-radius:8px;
  margin-right: 8px;
}

.btn-md:hover{
   background-color:rgba(230,230,230,0.8);
}

.btn-small{
  background-color:#f5f5f5;
  padding:6px 8px;
  text-align: center;
  font-size:14px;
  font-family: "Microsoft Yahei",微软雅黑;
  color:#333;
  border:2px solid rgba(210,210,210,0.5);
  border-radius:6px;
}

.btn-small:hover{
  background-color:rgba(230,230,230,0.8);
}
.input-md{
  border-radius: 4px;
  width:55px;
}

.led-light{
	display: inline-block;
	height:10px;
	width:10px;
	border-radius:5px;
	background-color: #ff0000;
	margin-right: 8px;
}

.led-unlight{
	display: inline-block;
	height:10px;
	width:10px;
	border-radius:5px;
	background-color: #000;
  margin-right: 8px;

}



/*底部*/

.footer{
	height: 130px;
	border: 3px  #fafafa solid;
	border-bottom: 0px;
	/*box-shadow: 5px 5px 3px  #fafafa;*/
	background-color: #ffffff;
	padding:10px 0px;
}

.footer .footer-wrap{
	height: 130px;
	
}
.footer .footer-wrap .con{
	height: 130px;
	width: 1226px;
	margin: 0 auto;
	position: relative;
}

.footer .footer-wrap .con .font{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -22px;
	margin-left:-205px;
}

.footer .footer-wrap .con .font span{
	line-height: 19px;
	color: #999;
}